<div class="row">

{{model.length}}

	{{#each model as |project|}}
	  <div class="col s12 m6">
	    <div class="card">
	      <div class="card-content">
	        <span class="card-title grey-text text-darken-4">{{project.name}}</span>
	        <p>I am a very simple card. I am good at containing small bits of information.
	        I am convenient because I require little markup to use effectively.</p>
	      </div>
	      <div class="card-action">
	        <a href="#" {{action 'restoreProject' project}}>Restore</a>
	      </div>
	    </div>
	  </div>
	{{/each}}

</div>